# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Django
db.sqlite3
db.sqlite3-journal
static_cdn/
*.log

# OS & IDE
.DS_Store
.vscode/

# Ignore all files inside media, but keep the directory structure
media/**/*
!media/**/.gitkeep